name: myapp
description: A new Flutter project.


version: 1.0.0+1
publish_to: none

environment:
  sdk: '>=3.10.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # Mecab dart wrapper
  mecab_for_flutter:
    path: ../
  universal_io: 2.2.2
  path_provider: 2.1.5
  loading_indicator: 3.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:
  assets:
    # necessary for native
    - assets/ipadic/
    # necessary for web
    - blobs/libmecab.wasm
    - blobs/libmecab.js

  uses-material-design: true
